build/
build-release/
build-memprocfs/
build-linux/
__pycache__/
*.pyc
.cache/
.vs/
*.pdb
*.obj
*.o
*.ko
*.mod
*.cmd
*.vcxproj.user
*.csproj.user
*.i64
*.id0
*.id1
*.log
*.tmp
*.bak
*.orig
imgui.ini
captures/
dumps/
